body{
    text-align: center;
}
#bulb{
height: 300px;
width: 200px;
}


button{ 
        height: 50px;
        width: 50px;
        background-color: rgb(246, 238, 8);
        color: rgb(0, 0, 0);
}
button:hover{
    cursor: pointer;
    background-color: aliceblue;
    color: #000;
}